/.metadata/
ClientApp/target/classes/
ClientApp/target/generated-sources/
ClientApp/target/maven-archiver/
ClientApp/target/maven-status/
TrainBookingWS/target/classes/
TrainBookingWS/target/generated-sources/
TrainBookingWS/target/generated-test-sources/
TrainBookingWS/target/jaxb2/
TrainBookingWS/target/maven-archiver/
TrainBookingWS/target/maven-status/
TrainBookingWS/target/test-classes/
TrainBookingWS/target/train-booking/
TrainBookingWS/.vscode/
TrainFilteringWS/mysql/*